/* Begin Placeholder Styles */
::-webkit-input-placeholder { 
    color:#999999;
    padding: 1px 3px;
    font-size:20px;
}
::-moz-placeholder { 
    color:#999999;
    padding: 2px 3px;
} /* firefox 19+ */
:-ms-input-placeholder { 
    color:#a3a3a3;
    padding: 2px 3px;
} /* ie */
input:focus::-webkit-input-placeholder {
    color: transparent;
}
/* End Placeholder Styles */

/* Begin Website Form Styles */
/* Remove Labels */
div#edit-field-website-name label,
div#edit-field-website-subdomain label {
  display: none;
}
/* Website Name Input */        
#edit-field-website-name-und-0-value { 
  text-align: center;
  font-size: 27px;
}
/* Subdomain Input */
#edit-field-website-subdomain-und-0-value { 
  text-align: center;
  font-size: 27px;
}
/* Subdomain field suffix */
div#edit-field-website-subdomain span.field-suffix {
  font-size: 26px;
}
/* End Website Form Styles */

/* Begin Domain Form Styles */
/* Domain Input */
#edit-field-domain-name-suffix {
  font-size: 27px;
  text-align: center;
  margin-right: 4px;
}
/* Make them inline */
div#edit-field-domain-name-suffix, div#edit-field-domain-name-prefix { 
  display: inline-block; 
}
/* Style the Domain Suffix Dropdown */
#edit-field-domain-name-suffix-und {
    background: transparent;
    padding: 5px;
    font-size: 22px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    width: 120px;
    height: 45px;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: bhd;
    margin-bottom: 5px;
    margin-top: -18px;
    background: url(http://www.gettyicons.com/free-icons/120/hydro-pro-hardware-v2/png/32/network_32.png) no-repeat 96% #ddd;
}
#edit-field-domain-name-prefix-und-0-value { 
  text-align: center;
  font-size: 27px;
}


/* End Domain Form Styles */

/* Remove the asterisk on the project, website and domain form */
form#project-form-node-form span.form-required { display: none; }
form#website-form-node-form span.form-required { display: none; }
form#domain-form-node-form span.form-required { display: none; }

div#edit-field-domain-name-prefix label, 
div#edit-field-domain-name-suffix label { 
  display: none; 
}




div#edit-actions.commerce-line-item-actions input#edit-submit {
  visibility: hidden; 
}